/* Rimuove spinner in Chrome, Safari, Edge */
body.template-product input[type="number"]::-webkit-inner-spin-button,
body.template-product input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Rimuove spinner in Firefox */
body.template-product input[type="number"] {
  -moz-appearance: textfield;
}

/*Modifiche pagina prodotto*/

body.template-product .product-single__thumbnail {
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-top: 20px !important;
}

body.template-product .product-single__thumbnails .flickity-slider {
  overflow-y: hidden !important;
}
