/* Rimuove spinner in Chrome, Safari, Edge */
body.template-product input[type="number"]::-webkit-inner-spin-button,
body.template-product input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Rimuove spinner in Firefox */
body.template-product input[type="number"] {
  -moz-appearance: textfield;
}

/*Modifiche pagina prodotto*/

body.template-product .product-single__thumbnail {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 20px !important;
}

body.template-product .product-single__thumbnails .flickity-slider {
  overflow-y: hidden !important;
}
body.template-product .product-single__thumbnails {
  margin-top: 0 !important;
}
body.template-product .product__block.product__meta-variants ul {
  gap: 10px !important;
}
body.template-product div.product__block.product__meta-variants ul li a img {
  border-radius: var(--radius-medium);
}
body.template-product .is-nav-selected .product-single__thumbnail-link {
  border-color: #ddd;
}
@media screen and (max-width: 992px) {
  body.template-product .radio__legend__label.label-typography {
    font-size: 0.875rem;
  }
  body.template-product .radio__fieldset.radio__fieldset--circle {
    width: 100%;
  }
  body.template-product .radio__legend__label.label-typography {
    width: auto;
    max-width: 50px;
    float: left;
  }
  body.template-product .select__fieldset .radio__legend__label,
  body.template-product .select__fieldset .select__label {
    font-size: 0.875rem;
  }
}
/*Fine Modifiche Pagina Prodotto*/
/*Modifiche Footer*/
@media screen and (max-width: 992px) {
  div.newsletter-section__content h2 em > strong {
    font-size: 30px !important;
    padding-bottom: 20px !important;
    display: block !important;
  }
  div.newsletter-section__content h2 strong {
    font-size: 20px !important;
  }
  div.newsletter-section__content h3 strong {
    font-size: 16px !important;
  }
  .newsletter-section__content {
    flex-basis: auto !important;
  }
}

/*Fine Modifiche Footer*/

.swym-button.swym-added .swym-icon-unfilled {
    display: none;
  }
.swym-button:not(.swym-added) .swym-icon-filled {
      display: none;
  }

div#swym-atw-button-container{
    display: none !important;
}

button.swym-button.swym-add-to-wishlist.swym-icontext.swym-heart.swym-loaded,button.swym-button.swym-add-to-wishlist.swym-icontext.swym-heart.swym-loaded.swym-added{
    z-index:10 !important;
    background: white !important;
    opacity: 1 !important;
    position: absolute !important;
    top:1% !important;
    right:1% !important;
    /*border-radius: 50% !important;*/
    /*width:25px !important;*/
}

svg.swym-icon-unfilled,svg.swym-icon-filled{
    position: absolute !important;
    top:8px !important;
    left:8px !important;
}

/*Back To Top*/
#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  width: 50px;
  height: 50px;
  background-color: #98D2DD; /* colore primario */
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 24px;
  cursor: pointer;
  display: none;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

#backToTop:hover {
  background-color: #444;
}
/*Fine Back To Top*/
/*Modifiche di fix*/
.mobile-menu__item #customer_register_link {
  display: none !important;
}
.body--rounded-corners .product-grid-item__image, .body--rounded-corners .product__media__slider:not(.flickity-enabled) .product-gallery__media
{
  border-radius: 0 !important;
}
#swym-anchor {
  display: none !important;
  pointer-events: none;
}
/*Fine modifiche fix*/