/* Rimuove spinner in Chrome, Safari, Edge */
body.template-product input[type="number"]::-webkit-inner-spin-button,
body.template-product input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Rimuove spinner in Firefox */
body.template-product input[type="number"] {
  -moz-appearance: textfield;
}

/*Modifiche pagina prodotto*/

body.template-product .product-single__thumbnail {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 20px !important;
}

body.template-product .product-single__thumbnails .flickity-slider {
  overflow-y: hidden !important;
}
body.template-product .product-single__thumbnails {
  margin-top: 0 !important;
}
body.template-product .product__block.product__meta-variants ul {
  gap: 10px !important;
}
body.template-product div.product__block.product__meta-variants ul li a img {
  border-radius: var(--radius-medium);
}
body.template-product
  div.product__block.product__meta-variants
  ul
  li
  a
  img:active {
  border: 1px solid #000;
}
